MONGODB_URI= example mongodb+srv://bassiroufaye765_db_user:KqGvuQOe5EStSBBZ@bassiroufaye.msl3sxm.mongodb.net
NEXTAUTH_SECRET=votre-secret-aleatoire-tres-long-et-securise
NEXTAUTH_URL=http://localhost:3000
ADMIN_PASSWORD=votre mot de passe
